@model Idmanist.Web.ViewModels.ProdInViewModel
@{
    ViewBag.Title = "Məhsullar ana səhifə";
}

<div class="row">
  

</div>
@Html.Partial("_newItems", Model);


    @Html.Partial("_FeaturedProducts", Model)




