@model Idmanist.Web.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Məhsullar ana səhifə";
}

<div class="row">
    @Html.Partial("MainMenu", Model.Categories)

</div>
@Html.Partial("_newItems", Model);


    @Html.Partial("_FeaturedProducts", Model)




